
<md-card>
	<md-card-title>Add User</md-card-title>
	<md-card-content>
		<form>
			<md-list>
				<md-list-item>

					<md-form-field class="example-full-width">
						<input mdInput [(ngModel)]="userObj.fname" name="firstName" placeholder="First Name">
					</md-form-field>
				</md-list-item>
				<md-list-item>

					<md-form-field class="example-full-width">
						<input mdInput [(ngModel)]="userObj.lname" name="lastName" placeholder="Last Name">
					</md-form-field>
				</md-list-item>
				<md-list-item>
					<button md-raised-button (click)="saveUser(userObj)">Submit</button>
				</md-list-item>
			</md-list>
			
		</form>
		<!-- <form enctype = "multipart/form-data"  method="post" >
			<input type="file" name="userPhoto" />
			<input type="submit" value="Upload Image" name="submit">
		</form> -->
		<input type="file" #fileInput placeholder="Upload file..." accept="image/*" (change)="changeListener($event)" />
		<button type="button" (click)="uploadImage()">Upload</button>
	</md-card-content>
	
</md-card>



